<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All diffusers
    </h1>

    <a href="/diffusers/new" class="btn btn-block btn-outline-secondary">
      Add a new diffuser
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "diffuser_templates/diffusers_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Emotions
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @diffusers.each do |diffuser| %>
      <tr>
        <td>
          <%= diffuser.id %>
        </td>

        <td>
          <%= diffuser.emotions_id %>
        </td>

        <td>
          <%= time_ago_in_words(diffuser.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(diffuser.updated_at) %> ago
        </td>

        <td>
          <a href="/diffusers/<%= diffuser.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @diffusers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
