<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All diffusers
    </h1>

    <a href="/diffusers/new" class="btn btn-block btn-outline-secondary">
      Add a new diffuser
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Emotions
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @diffusers.each do |diffuser| %>
      <tr>
        <!-- Display diffuser.id start -->
        <td>
          <%= diffuser.id %>
        </td>
        <!-- Display diffuser.id end -->

        <!-- Display diffuser.emotions_id start -->
        <td>
          <%= diffuser.emotions_id %>
        </td>
        <!-- Display diffuser.emotions_id end -->

        <!-- Display diffuser.created_at start -->
        <td>
          <%= time_ago_in_words(diffuser.created_at) %> ago
        </td>
        <!-- Display diffuser.created_at end -->

        <!-- Display diffuser.updated_at start -->
        <td>
          <%= time_ago_in_words(diffuser.updated_at) %> ago
        </td>
        <!-- Display diffuser.updated_at end -->

        <td>
          <a href="/diffusers/<%= diffuser.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
