<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Diffuser #<%= @diffuser.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/diffusers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/diffusers/<%= @diffuser.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit diffuser
        </a>
      </div>

      <div class="col">
        <a href="/delete_diffuser/<%= @diffuser.id %>" class="btn btn-block btn-outline-secondary">
          Delete diffuser
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Emotions
      </dt>
      <dd>
        <%= @diffuser.emotions_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@diffuser.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@diffuser.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

