<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Diffuser #<%= @diffuser.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/diffusers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link diffuser start -->
      <div class="col">
        <a href="/diffusers/<%= @diffuser.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit diffuser
        </a>
      </div>
      <!-- Edit link diffuser end -->

      <!-- Delete link diffuser start -->
      <div class="col">
        <a href="/delete_diffuser/<%= @diffuser.id %>" class="btn btn-block btn-outline-secondary">
          Delete diffuser
        </a>
      </div>
      <!-- Delete link diffuser end -->
    </div>

    <dl>
      <dt>
        Emotions
      </dt>
      <!-- Display emotions_id start -->
      <dd>
        <%= @diffuser.emotions_id %>
      </dd>
      <!-- Display emotions_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@diffuser.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@diffuser.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
