<% if @solution.errors.any? %>
  <% @solution.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit solution #<%= @solution.id %>
</h1>

<hr>

<form action="/update_solution/<%= @solution.id %>" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @solution.description %></textarea>
  </div>

  <div class="form-group">
    <label for="emotion_id">
      Emotion
    </label>

    <%= select_tag(:emotion_id, options_from_collection_for_select(Emotion.all, :id, :name, @solution.emotion_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update solution
  </button>
</form>

<hr>

<a href="/solutions">
  Go back
</a>
