<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All solutions
    </h1>

    <a href="/solutions/new" class="btn btn-block btn-outline-secondary">
      Add a new solution
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "solution_templates/solutions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Emotion
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @solutions.each do |solution| %>
      <tr>
        <td>
          <%= solution.id %>
        </td>

        <td>
          <%= solution.description %>
        </td>

        <td>
          <% if solution.emotion.present? %>
            <a href="/emotions/<%= solution.emotion.id %>">
              <%= solution.emotion.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(solution.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(solution.updated_at) %> ago
        </td>

        <td>
          <a href="/solutions/<%= solution.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @solutions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
