<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Solution #<%= @solution.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/solutions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/solutions/<%= @solution.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit solution
        </a>
      </div>

      <div class="col">
        <a href="/delete_solution/<%= @solution.id %>" class="btn btn-block btn-outline-secondary">
          Delete solution
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @solution.description %>
      </dd>

      <dt>
        Emotion
      </dt>
      <dd>
        <% if @solution.emotion.present? %>
          <a href="/emotions/<%= @solution.emotion_id %>">
            <%= @solution.emotion.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@solution.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@solution.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

