<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Solution #<%= @solution.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/solutions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link solution start -->
      <div class="col">
        <a href="/solutions/<%= @solution.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit solution
        </a>
      </div>
      <!-- Edit link solution end -->

      <!-- Delete link solution start -->
      <div class="col">
        <a href="/delete_solution/<%= @solution.id %>" class="btn btn-block btn-outline-secondary">
          Delete solution
        </a>
      </div>
      <!-- Delete link solution end -->
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @solution.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Emotion
      </dt>
      <!-- Display emotion_id start -->
      <dd>
        <%= @solution.emotion_id %>
      </dd>
      <!-- Display emotion_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@solution.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@solution.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
