<h1>
  Edit perspective #<%= @perspective.id %>
</h1>

<hr>

<form action="/update_perspective/<%= @perspective.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @perspective.name %>">
  </div>

  <div class="form-group">
    <label for="quotes">
      Quotes
    </label>

    <textarea id="quotes" name="quotes" class="form-control" rows="3"><%= @perspective.quotes %></textarea>
  </div>

  <div class="form-group">
    <label for="emotion_id">
      Emotion
    </label>

    <%= select_tag(:emotion_id, options_from_collection_for_select(Emotion.all, :id, :name, @perspective.emotion_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update perspective
  </button>
</form>

<hr>

<a href="/perspectives">
  Go back
</a>
