<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All emotions
    </h1>

    <a href="/emotions/new" class="btn btn-block btn-outline-secondary">
      Add a new emotion
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "emotion_templates/emotions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @emotions.each do |emotion| %>
      <tr>
        <td>
          <%= emotion.id %>
        </td>

        <td>
          <%= emotion.name %>
        </td>

        <td>
          <% if emotion.user.present? %>
            <a href="/users/<%= emotion.user.id %>">
              <%= emotion.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(emotion.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(emotion.updated_at) %> ago
        </td>

        <td>
          <a href="/emotions/<%= emotion.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @emotions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
