<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Emotion #<%= @emotion.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/emotions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link emotion start -->
      <div class="col">
        <a href="/emotions/<%= @emotion.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit emotion
        </a>
      </div>
      <!-- Edit link emotion end -->

      <!-- Delete link emotion start -->
      <div class="col">
        <a href="/delete_emotion/<%= @emotion.id %>" class="btn btn-block btn-outline-secondary">
          Delete emotion
        </a>
      </div>
      <!-- Delete link emotion end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @emotion.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @emotion.user.present? %>
          <a href="/users/<%= @emotion.user_id %>">
            <%= @emotion.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@emotion.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@emotion.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "emotion_templates/emotion_solutions" %>
  </div>
</div>
<!-- Show Page Customization end -->
